/* Блок <crumbs>* в общих стилях*/


/* Блок <product_slider>*/

.slider_product {
    height: 777px;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
    outline: none;
    display: flex;  
    align-items: center;
}

.slider_product_block {
    height: 100%;
    width: 100%;
    background: url("img/slider_product.jpg") no-repeat center;
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.fa_angle_parent {
    width: 47px;
    height: 47px;
    background-color: rgba(42,42,42,0.14);
}

.fa_angle_child {
    color: #ffffff;
}


/* Блок <product_description>*/

.prod_desc_block {
    height: 730px;
    background-color: #ffffff;
    flex-direction: column;
    padding-top: 73px;
}

.prod_desc_block > * {
    display: block;
}

.product_description {
    margin-top: -73px;
    position: relative;
    z-index: 1;
}

/*
.prod_desc_block:hover {
    border: 1px solid #eaeaea;
}
*/

.prod_desc_heading {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #f16d7f;
    text-transform: uppercase;
}

.moschino_heading {
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
}

.moschino_text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #5e5e5e;
    padding-top: 67px;
    width: 60%;
}

.moschino_details {
    padding-top: 28px;
    padding-bottom: 48px;
}

.details_text:nth-last-of-type(1) {
    margin-left: 44px;
}

.prod_devider {
    width: 147px;
    height: 1px;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    display: block;
    margin: 15px auto;
}

.prod_devider:active {
    width: 63px;
    height: 3px;
    background-color: #ef5b70;
}

.prod_devider_item {
    width: 63px;

}

.prod_devider_item:hover {
    background-color: #ef5b70;
    border: 1px solid #ef5b70;
}


.prod_devider_item_active {
    width: 147px;
    height: 1px;
    background-color: #ef5b70;
    border: 1px solid #eaeaea;
    display: block;
}

.details_text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #b9b9b9;
}

.details_span {
    color: #2f2f2f;
}

.price_big {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #ef5b70;
    padding-bottom: 43px;
}

.line {
    width: 642px;
    height: 1px;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    display: inline-block;
}

.line:hover {
    background-color: #ef5b70;
    border: 1px solid #ef5b70;
}

.prod_desc_bottom {
    margin: 63px auto 0;
    width: 60%;    
}

.add_prod_desc {
    background-color: #ffffff;
    border: 1px solid #ef5b70;
    text-decoration: none;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: 28px;
    outline: none;
}

.cart_prod_desc {
    margin-right: 15px;
}

.add_prod_desc_text {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: #ef5b70;
}

.form_big {
    display: flex;
    justify-content: space-between;
}

.form_short {
    display: inline-block;
    width: 100%;
}

.form_parts {
    display: flex;
    justify-content: space-between;
}

.form_children {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.form_label {
    display: inline;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2f2f2f;

}

.form_part_parent {
    width: 145px;
    height: 64px;
}


.select_chevron_parent {
    position: relative;
    width: 145px;
    height: 35px;
}

.select_styles {
    border: solid 1px #eaeaea;
    background-color: #ffffff;
    outline: none;
    width: 145px;
    padding-left: 37px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: block; 
    position: absolute;
    height: 35px;
}

.option_styles {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #bcbcbc;
}

.select_styles select[selected] {
    color: red;
}

.select_chevron {
    position: absolute;
    right: 15px;
    height: 35px;
    pointer-events: none;
}

.fa_form {
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    color: #bcbcbc;
}

/* Блок <image_box>*/

.image_box {
    padding-top: 119px;
    padding-bottom: 73px;
}

.image_box_heading {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
    text-align: center;
}

.images_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 72px;
}

.img_item {
    background-color: #e9e9e9;
}
.img_item:hover{
    box-shadow: 0px 5px 8px 0 rgb(0 0 0 / 16%);
}

.img_link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.img_parent {
    width: 261px;
    padding: 3px;
}

.img_item_txt {
    padding-top: 18px;
    padding-bottom: 21px;
    padding-left: 15px;
    background-color: #ffffff;
}

.img_txt {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
    margin-bottom: 17px;
}

.img_pic {
    height: 280px;
}