* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header{
    height: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
    border: solid 1px #ececec;
    background-color: #ffffff;
}

/*меняю container на fixed box, чтобы избежать конфликтов с бутсраповским контейнером*/
.fixed_box {
    width: 1140px;
    margin: 0 auto;
}

.header_block {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo_text {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color:#3e3e40;
    padding-left: 13px;
    text-transform: uppercase;
}

.logo_last_letter {
    color: #f16d7f;
    font-weight: 900;
}




.search_form {
    display: flex;
    padding-left: 37px;
}

.search_form input[type=text] {
    padding: 11px 90px 11px 14px;
    background-color: #FFFFFF;
    border: 1px solid #e6e6e6;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
    /*line-height: 32px;*/
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;
}

.search_form button[type=submit] {
    padding: 11px;
    background-color: #FFFFFF;
    color: #a4a4a4;
    border: 1px solid #e6e6e6;
    border-left: none; 
    outline: none;
    box-sizing: border-box;
}

/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
    display: none;
  }
  /* Убираем стандартный маркер Firefox */
details > summary {
    list-style: none;
}

summary::after {
    content: "\f0d7";
    font-family: "FontAwesome";
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #838383;
    margin-left: 8px;
}

.browse_button {
    display: inline-block;
    /*width: 87px;
    height: 38px;*/
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    outline: none;
    box-sizing: border-box;
    border-radius: 3px 0px 0px 3px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.browse_text {
    text-decoration: none;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
}

.browse_button:hover {
    background-image: linear-gradient(180.0deg, #cdcdcc 0%, #cdcdcc 100%);
}

/*.fa_style {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #838383;
    padding-left: 8px;
}*/

.dropdown_box {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    outline: none;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    z-index: 5;
}

.dropdown_box:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: -7px;
    left: 70px;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.dropdown_menu-list {
    list-style-type: none;
}

.dropdown_menu-link {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #4f4f4f;
    text-decoration: none;
    display: block;
}

.dropdown_menu-link:hover {
    color: #f16d7f;
}



/*.search-form::after {
    content: "";
    clear: both;
    display: table;
}*/

.button_site {
    text-decoration: none;
    background-color:#F16D7F;
    color: #ffffff;
    border: solid 1px #ececec;
    outline: none;
}

.my_account {
    padding: 8px 19px;
    margin-left: 26px;
    font-size: 15px;
    letter-spacing: 0.38px;
    font-weight: 400;
}

.button_site:hover {
    background-color: #ffffff;
    color: #F16D7F;
    outline: solid 1px #F16D7F;
}

/*Блок <nav>*/

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu-list {
    position: relative;
}

.menu-list:hover .mega-box {
    display: flex;
}

.menu-list-position:hover .mega-box {
    right: 0;
}

.menu-link {
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.86;
    color: #222222;
    text-transform: uppercase;
    padding: 20px 25px;
} 

.menu-link:active {
    border-bottom: 3px solid #ef5b70;
    outline: none;
}

.mega-box {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: absolute;
    z-index: 5;
    display: none;
    outline: none;
}

.mega-box:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: -7px;
    left: 36px;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.mega-box-position:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: -8px;
    left: 780px;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.mega-item {
    margin-right: 45px;
}

.mega-item:last-of-type {
    margin-right: 0;
}

.item_heading {
    width: 235px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
    margin-bottom: 8px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
}
/* не знаю,как правильно сделать отсутп только у 2 заголовка с конца
.item_heading:nth-last-of-type(3) {
    padding-top: 37px;
}
*/

.mega-list {
    list-style-type: none;
}

.mega-link {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;
    text-decoration: none;
    display: block;
}

.mega-link:hover {
    color: #f16d7f;
}

.promo {
   padding-top: 22px; 
   position: relative;
}

.promo_text {
    position: absolute;
    right: 10px;
    bottom: 12px;
} 

.ad {
    font-size: 22px;
    line-height: 28px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
}

/*Блок <subscribe_block>*/

.subscribe_parent {
    position: relative;
    height: 438px;
}

.subscribe_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("img/sea_back.png");
    background-repeat: no-repeat;
    /*[ 190px*/ 
    background-position: 0 -145px;
    background-size: 100%;
    opacity: 0.5;
    z-index: -1;
}

.subscribe_block {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.subscribe_block_left {
    height: 100%;
    float: left;
    width: calc(50% - 2px);
    border-right: 2px solid lightgrey;
    display: flex;
    align-items: center;
}

.subscribe_block_right {
    height: 100%;
    float: right;
    width: 50%;
    display: flex;
    align-items: center;
}

.subscribe_block_right_child {
    margin: auto;
    width: 60%;
}


.review {
    display: flex;
    width: 80%;
    /*padding-top: 111px;*/
    /*padding-right: 68px;*/
}

.review_text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
}

.review_slider {
    width: 100%;
    padding-top: 40px;
    height: 4px;
}

.review_slider_item {
    height: 100%;
    width: 38px;
    background-color: #d6d6d6;
    display: inline-block;
    margin-right: 5px;
}

.review_slider_item:hover {
    background-color: #f16d7f;
}

.bin_burhan{
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    padding-top: 17px;
}

.dhaka {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #222224;
}

.face {
    float: left;
    padding-right: 28px;
    height: 83px;
}
    
.subscribe_form {
    /*padding-left: 92px;*/
    display: flex;
    align-items: center;
    flex-grow: 1;
    outline: none;
}

.subscribe_form input[type=email] {
    width: calc(100% - 104px);
    height: 46px;
    border-radius: 23px 0 0 23px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    /*text-align: center;*/
    letter-spacing: 0.35px;
    background-color: #e1e1e1;
    color: rgba(34, 34, 36, 0.67);
    border: 1px solid transparent;
    opacity: 0.67;
    padding-left: 28px;
    /*padding-right: 148px;*/
    box-sizing: border-box;
    outline: none;
    /*float: left;*/
}

.subscribe_form button[type=submit] {
    width: 104px;
    padding-left: 21px;
    padding-right: 21px;
    height: 46px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.025em;
    border-radius: 0 23px 23px 0;
    border: 1px solid transparent;
    border-left: none;
    box-sizing: border-box;
    outline: none;
    /*cursor: pointer;
    float: left;*/
}
    
.subscribe_form::after {
    content: "";
    clear: both;
    display: table;
}

.subscribe_text {
    text-align: center;
    padding-bottom: 35px;
}

.subscribe_heading {
    font-size: 24px;
    /*line-height: 54px;*/
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
}

.subscribe_heading_bottom {
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
}

/*Блок footer*/
.footer_block {
    padding-top: 109px;
}

.footer_top {
    display: flex;
}

.footer_left {
    width: 40%;
}

.footer_text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
    padding-top: 33px;
}

.footer_right {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.footer_heading {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    text-transform: uppercase;
    /*padding-bottom: 45px;*/
}

.footer_menu {
    padding-top: 30px;
    list-style-type: none;
}

.footer_menu_link {
    text-decoration: none;
    display: block;
    font-size: 16px;
    padding: 15px 0;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
}

.footer_menu_link:hover {
    color: #f16d7f;
}

.footer_bottom {
    background-color: #e6e6e6;
    margin-top: 89px;
    display: flex;
    flex-wrap: wrap;
}

.footer_bottom_parent {
    display: flex;
    justify-content: space-between;
}

.copy {
    display: flex;
    align-items: center;
}

.copyright {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
}    

.social_icons {
    display: flex;
    align-items: center;
}

.social_icons a {
    text-decoration: none;
}

.social_icon {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #b2b2b2;
    text-align: center;
    width: 32px;
}

.social_icon_parent {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    margin: 23px 4px;
}

.social_icon_parent:hover {
    background-color: #f16d7f;
}

.social_icon_parent:hover .social_icon {
    color: #f7f7f8;
}

.price {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    color: #f16d7f;
}

/*Блок <crumbs>*/

.breadcrumbs {
    background-color: #f8f3f4;   
    height: 148px;
    display: flex;
    align-items: center;
}

.breadcrumbs_parent {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.arrivals_heading {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
}

.crumbs {
    display: flex;
    justify-content: center;
    height: 100%;
}

.crumbs li {
    list-style-type: none;
    margin-left: 2px;
}

.crumbs-item-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #636363;
    text-transform: uppercase;
}

.crumbs-item-list-active {
    text-transform: uppercase;
    font-weight: 700;
    color: #f16d7f;
}

.crumbs-item-link:hover {
    color: #f16d7f;
}

/* Центрирование от родителя к ребёнку */

.center_vertical {
    display: flex;
    align-items: center;
}

.center_horizontal {
    display: flex;
    justify-content: center;
}

.center_horizontal_text {
    text-align: center;
}

/* Центрирование ребёнком */

.child_center_margin {
    margin: auto;
}

.scale_rotation {
    transition: 1s; /* Время эффекта */
}

.scale_rotation:hover {
    transform: rotate(90deg) scale(0.5);; /* Увеличиваем масштаб */
}
  
